.home-categories-section {
    margin-bottom: 60px;
}

.home-categories-section h2 {
    margin-bottom: 25px;
    color: var(--color-headings);
    font-size: 28px;
    font-weight: 600;
}

.home-categories-section .row>div {
    margin-bottom: 20px;
}

.category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 1px 4px #cccccc;
    padding: 0 10px;
    height: 100%;
    border-radius: 8px;
    transition: ease-in-out .3s;
    margin: 15px;
    border: 1px solid #cccccc;
}

.category-card:hover {
    background-color: var(--turkoaz);
    color: #ffffff;
}

.category-card h4 {
    font-size: 17px;
    margin-left: 15px;
}

.category-card img {
    height: 90px;
}

.more-button {
    text-align: right;
}

.more-button a {
    border-bottom: 1px solid #343434;
    
}



@media (min-width: 768px) {
    .home-categories-section .row>div {
        margin-bottom: 0;
    }

    .category-card {
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }

    .category-card h4 {
        font-size: 17px;
        margin-top: 15px;
        margin-left: 0;
    }

    .category-card img {
        margin-top: 20px;
        height: 110px;
    }
}