.card-white {
    padding: 7px;
}

.card-white article {
    border-radius: 7px;
    height: 100%;
}

.card-white article .author {
    padding-top: 10px
}

.card-image-holder {
    position: relative;
    border: 1px solid #e1e1e1;
    background-color: #cccccc;
    width: auto;
    overflow: hidden;
    height: 250px;
    border-radius: 7px;
    transition: ease-in-out .1s;
}

.card-image-holder:hover {
    box-shadow: 0px 0px 10px #999999;
}

.card-image-holder img {
    position: relative;
    max-width: 180%;
    max-height: 180%;
    width: aoto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.card-image-holder .prise {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--samon);
    transition: ease-in-out 0.5s, height 0.5s;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 14px;
}


