.create-form-section {
    height: 950px;
}

.create-form-section .container {
    background-color: #eeeeee;
    position: relative;
    height: 600px;
}

@media (min-width: 768px) {
    .create-form-section {
        height: auto;
    }

    .create-form-section .container {
        height: 300px;
    }
}

.create-form-wrapper {
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #cccccc;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    padding: 20px 40px;
}

.image-preview {
    border: 1px dashed #cccccc;
    border-radius: 6px;
    width: 100%;
    height: 300px;
}
