/* Colors */

/* #80add7 */
/* #0abda0 */
/* #ebf2ea */
/* #d4dca9 */
/* #bf9d7a */


/* General Rules for the application */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #80add7;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

.margin-auto {
  margin: auto;
}

