/* General Rules for the application */

:root {
  --color-headings: #03588C;
  --green-blue: #0396A6;
  --blue: #009DD8;
  --samon: #F28963;
  --red: #F25C5C;
  --turkoaz: #24C7A4;
  --dark-turkoaz: #159c7f;
  --prussian-blue: #023047;

  /* --turkoaz: #04BFAD; */
  
  --success: rgb(18, 175, 88);
  --warrning: rgb(218, 33, 33);
  
  --light-cornflower-blue: #8ECAE6;
  --blue-green: #219EBC;
  --honey-yellow: #FFB703;
  --honey-yellow-tr: #ffb803cb;
  --orange-peel: #FD9E02;
  --orange: #FB8500;
  --color-subheading: #126782;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  font-weight: 600;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #444444;
  transition: all 0.1s ease-out;
}

a:hover {
  color: var(--blue);
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

main {
  min-height: calc(100vh - 280px);
}

input, textarea, select {
  border: 1px solid #cccccc;
  padding: 7px;
  border-radius: 7px;
  background-color: #f7f7f7;
  transition: all ease-in-out 0.2s;
}

input:focus, textarea:focus {
  background-color: #ffffff;
  outline: 1px solid #80add7;
  font-size: 16px;
}

input[type="submit"]  {
  border: none;
  background-color: var(--turkoaz);
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  float: right;
}

.warrning {
  border: none;
  background-color: var(--samon);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
}

label {
  margin-bottom: 4px;
  color: #aaaaaa;
}


.margin-auto {
  margin: auto;
}

