.details-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eeeeee;
}

.details {
    position: relative;
    padding-bottom: 20px;
    /* border-bottom: 2px solid #cccccc; */
}

.details-image {
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.details-image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 2px #cccccc;
}

.details-image .category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--samon);
    padding: 2px 12px;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.post-details {
    padding: 10px 0px 10px 40px;
}

.post-details h1 {
    color: var(--color-headings);
    font-size: 30px;
    text-align: left;
    border-radius: 6px;
}

.post-details .description {
    margin-top: 20px;
}

.post-details .categorie {
    padding-left: 10px;
    margin-top: 20px;
    background-color: #cccccc;
}

.post-details .author {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 20px;
}

.post-details .prise {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}

.post-details .prise span {
    font-size: 35px;
    font-weight: 600;
    margin-right: 5px;
}

.details-buttons {
    padding: 10px 0px 10px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-buttons .link, .comments-link, .disabled {
    padding: 8px 40px;
    border-radius: 5px;
    display: inline-block;

}

.details-buttons .link, .comments-link {
    background-color: var(--turkoaz);
    cursor: pointer;
    color: #ffffff;
}

.disabled {
    pointer-events: none;
    color: var(--red);
    border: 1px solid var(--red);
}


/* Commets */

.comments-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.comments-section h2 {
    font-size: 25px;
    color: var(--color-headings);
}

.comments-link {
    border: none;
}

.comments-form textarea {
    width: 100%;
}

.comment-holder {
    margin-top: 30px;
}

.comment-holder .row {
    border-top: 1px solid #868686;
    padding: 20px;
    margin-right: 20px;
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: #cccccc;
    border-radius: 50%;
}

.comment-holder h3 {
    text-align: left;
}
