.navbar {
    background-color: #ffffff;
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link {
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
}

.navbar .button {
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
}

.navbar .button svg {
    width: 20px;
    cursor: pointer;
    fill: #444444;
    transition: ease-in-out .1s;
}

.navbar .button svg:hover {
    fill: var(--blue);
    
}


@media (min-width: 768px) {
    .navbar-nav {
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    
}

