.categories-section {
    margin-top: 20px;
}

.categories-section h1 {
    margin-bottom: 30px;
    color: var(--blue-sapphire);
    font-size: 30px;
}

.category-wrapper a h2 {
    background-color: var(--color-subheading);
    padding: 20px;
    margin: 20px;
    color: #ffffff;
    border-radius: 5px;
}

.all-listings-button {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.all-listings-button a {
    background-color: #eeeeee;
    border: 1px solid  #444444;
    padding: 8px 25px;
    border-radius: 6px;
}