.categories-section {
    margin-top: 20px;
}

.categories-section h1 {
    margin-bottom: 30px;
    color: var(--blue-sapphire);
    font-size: 30px;
}

.category-wrapper a h2 {
    background-color: var(--color-subheading);
    padding: 20px;
    margin: 20px;
    color: #ffffff;
    border-radius: 5px;
}