.auth-form-section {
    margin-top: 40px;
}

.auth-form {
    width: 30%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #cccccc;
    border-top: 3px solid #00adc6;
    padding: 20px;
}

.form-input-outer {
    margin-bottom: 20px;
}

.form-input-outer label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-input-outer input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #cccccc;
}

.form-input-outer input:focus {
    outline: none;
    border-bottom: 2px solid #00adc6;
    

}

.auth-form button {
    margin: auto;
    width: 60%;
    display: block;
    padding: 8px;
    border: none;
    background-color: #00adc6;
    color: #ffffff;
    border-radius: 5px;;

}
