.auth-form-section {
    margin-bottom: 50px;
}

.auth-form-section .container {
    background-color: #ebf2ea;
    position: relative;
    height: 300px;
}

.auth-form-wrapper {
    margin: auto;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #cccccc;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}

.swith-buttons {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: #0abda0;
    border: 2px solid #09aa8f;
    padding: 1px;
    border-radius: 20px;
}

.swith-buttons .auth-link {
    padding: 1px 12px;
    border-radius: 10px;
    display: inline-block;
    color: #ffffff;
}

.swith-buttons .auth-link:hover {
    color: #1d7062;
}

.swith-buttons .active-radio-auth-links {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #1d7062;
    color: #0abda0;
}

.auth-form-image-holder img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.auth-form-holder {
    padding: 30px;
}

.auth-form-holder h1 {
    color: #bf9d7a;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-wrapper .input-wrapper {
    width: 48%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.required {
    color: red;
    font-weight: 700;
}

.error-message {
    background-color: rgb(201, 109, 109);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    float: left;
}